/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 40px;
  background-color: var(--bg-color, #000028);
  min-width: 375px;
  font-family: "IBM Plex Mono", Arial, sans-serif;
  background-attachment: fixed;
}

.header {
  position: relative;
  background-image: var(--cover-image);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  padding: 10px;
  height: 100vh;
  width: 100%;
}

@media (width > 767px) {
  .header {
    padding: 20px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 0;
  right: 0;
  margin: 10px;
}

.decorated-zone::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 0;
  left: 0;
  margin: 10px;
}

.header__record {
  position: absolute;
  color: var(--accent-color);
  right: 0;
  top: 0;
  padding-right: 10px;
  padding-top: 10px;
}

@media (width > 767px) {
  .header__record {
    padding-right: 20px;
    padding-top: 20px;
  }
}

.header__record::after {
  position: relative;
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;
  background: var(--accent-color);
  border-radius: 4.5px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 4px #ff0070;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

@media (width > 1023px) {
  .header__theme-menu {
    justify-content: center;
    align-items: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-item {
  width: 70px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  border: none;
  background: none;
  text-align: center;
  width: 100%;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  justify-self: start;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

@media (width > 767px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__subtitle {
  grid-row: 3;
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  min-width: 355px;
  line-height: 23.4px;
  font-size: 18px;
}

@media (width>767px) {
  .header__subtitle {
    width: 50%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.content__top-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
}

@media (width>767px) {
  .content__top-section {
    display: grid;
    grid-template-columns: 0.3333fr 0.6666fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }

  .content {
    padding-left: 20px;
    padding-right: 20px;
    row-gap: 60px;
  }
}

@media (width>1023px) {
  .content {
    row-gap: 80px;
  }
}

.content__section-title {
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
}

.content__section-title_inline {
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
}

@media (width>767px) {
  .content__section-title_inline {
    width: 30%;
  }
}

.content__top-section-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 20px;
}

.content__card {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: 10px;
}

.content__card-title {
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.card-title-light {
  font-weight: 400;
}

.content__outline {
  width: 100%;
}

.content_card-paragraph {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  /* 130% */
}

.content__middle-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
}

.content__middle-section-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

@media (width > 1023px) {
  .content__middle-section-cards {
    flex-direction: row;
  }
}

.content__last-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
}

.content__last-section-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

@media (width>767px) {
  .content__last-section {
    display: grid;
    grid-template-columns: 0.33fr 0.66fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
}

.content__gallery-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  align-items: stretch;
}

.content__gallery img {
  display: block;
  inline-size: 100%;
  inset-block: auto;
  object-fit: cover;
}

@media (width > 767px) {
  .content__gallery-section {
    gap: 20px;
  }

  .content__gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
  }

  .tape {
    grid-row: span 2;
  }

  .books {
    grid-row: span 1;
  }

  .street {
    grid-column: span 2;
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding: 10px;
  height: 100vh;
  width: 100%;
}

.footer__title {
  color: #db00ff;
  text-shadow: 2px 2px 0px #ff0070;
  font-family: var(--main-font);
  font-size: 116px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}